


* { margin:0; padding:0; }

html, body { width:100%; height:100%; overflow: hidden;} /* full screen */

/*canvas { display:block; } /* remove scrollbars?? */


/* canvas bounds*/
#canvas {
    width: 100%;
    height: 100%;
    background: #d2e1fc;
}